@import url('https://fonts.googleapis.com/css2?family=Copse&family=Homemade+Apple&family=Indie+Flower&family=Kode+Mono:wght@400..700&family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Scope+One&display=swap');

:root {
    --bg: #24262e;
    --soft-white: #eef7fa;
    --lightest: #cfe3ee;
    --midtone: #829eba;
    --normal: #9fb8ce;
    --small: #6886a8;
    --darkest: #0d0f20;
}


/* Classes for divs to spans */

/* A font */
.scratchy {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

/* for code blocks */
.code-block {
    background-color: var(--darkest);
    font-family: "Kode Mono", courier new, monospace;
    font-size: 85%;
    padding: 10px;
    corner-shape: bevel;
    overflow: hidden;
    border: 3px inset var(--small);
    outline: 3px solid var(--darkest);
    border-radius: 7px;
    text-align: left;
}

/* for code block-like menus (table of contents so far) */
.fake-block {
    background-color: var(--darkest);
    font-family: "Kode Mono", courier new, monospace;
    font-size: 70%;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    border: 3px inset var(--small);
    outline: 2px solid var(--darkest);
    border-radius: 3px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* small text & variations for diff situations */
/* default "small" class is not used currently */
.small {
    font-size: 60%;
    opacity: 0.5;
    padding-left: 5px;
    padding-top: 0px;
    margin-top: -3px;
}

.fake-block.small {
    font-size: 80%;
    border-bottom: solid 1px; 
    margin-bottom: 5px;
}

h1.small {
    font-size: 10pt;
    opacity: 0.5;
    padding-left: 5px;
}

/* subtitles since default small is cursed */
.subtitle {
    font-size: 10pt;
    color: var(--midtone);
    text-shadow: 0px 0px 5px var(--small);
    margin-bottom: 5px;
}

.subtitle:hover {
    font-size: 10pt;
    color: var(--normal);
    text-shadow: 0px 0px 5px var(--midtone);
}


/* General Formatting*/

body {
    background-color: var(--bg);
    color: var(--lightest);
    text-shadow: 0px 0px 7px var(--small);
    font-family: "Scope One", courier new, serif;
    text-align: center;
}

p {
    color: var(--normal);
    text-shadow: 0px 0px 3px var(--small);
    font-family: "Scope One", courier new, monospace;
}

h1 {
    font-family: "Copse", courier new, monospace;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--small);
    margin-left: 5%;
    margin-right: 5%;
}


/* Images */
/* intended for the portfolio */
.image-section {
    border: double 2px var(--small);
    border-left: solid var(--small);
    border-radius: 7px;
    corner-shape: bevel;
    max-width: 460px;
    margin: auto;
    background-color: rgb(from var(--small) r g b / 10%);
}

.image-section > p {
    margin: 20px;
}

.image-section > h2 {
    padding-bottom: 10px;
}

/* icons. currently there is only one */
.img-icon {
    width: 20px;
    height: 20px;
    padding: 5px;
}

/* "gallery" images */
/* also used within "image-section" classes */
.img-gallery {
    max-width: 400px;
    border: double;
    border-left: solid;
    border-color: var(--normal);
    corner-shape: bevel;
    border-radius: 5px;
}

.img-scroll {
    border-top: solid 1px var(--small);
    border-bottom: solid 1px var(--small);
    margin-top: 20px;
    max-width: 460px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#first-series {
    margin-top: -10px;
}

.img-scroll > div {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    padding-bottom: 0px;
}

.img-scroll > div > img {
    width: 100%;
}

.img-scroll::-webkit-scrollbar{
    display: none;
}

/* banner images. these mainly just resize. copied from Artfight */
.banner {
    margin: auto;
    max-width: 70%;
    max-height: 100vh;
    filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(656%) hue-rotate(171deg) brightness(99%) contrast(89%);
}

/* literally just a filter to blueify things */
/* matches to var(--normal) */
.make-blue {
    filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(656%) hue-rotate(171deg) brightness(99%) contrast(89%);
}


/* Links */

a {
    color: var(--lightest);
    text-shadow: 0px 0px 5px var(--midtone);
    text-decoration: none;
}

a:hover {
    color: var(--lightest);
    text-shadow: 0px 0px 5px var(--lightest);
    text-decoration: none;
}


/* ID-specific Formatting */
/* special styling for the 404 title */
#notfound {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom:solid 1px var(--midtone);
    max-width: 150px;
}

/* special styling for pfp icons. "copies" carrd. */
#pfp {
    border-radius: 50%;
    height: 100px;
    transform: scale(1.5); 
    margin: 10px;
    margin-top: 20px;
    border: inset 1px;
    border-color: var(--normal);
}


/* Resize Stuff */

@media only screen and (max-width: 600px) {
    .banner {
        max-width: 100%;
        max-height: 100vh;
    }
    .img-gallery {
        max-width: 70%;
        max-height: 150vh;
    }
}