@import url('https://fonts.googleapis.com/css2?family=Copse&family=Homemade+Apple&family=Indie+Flower&family=Kode+Mono:wght@400..700&family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Scope+One&display=swap');

:root {
    --soft-white:   #eef7fa;
    --lightest:     #cfe3ee;
    --normal:       #9fb8ce;
    --midtone:      #829eba;
    --small:        #6886a8;
    --bg:           #24262e;
    --darkest:      #0d0f20;

    --topbar-y:     5px;


    --nav-adjustment: var(--topbar-y);
}


/* Classes for divs to spans */

/* A font */
.scratchy {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

/* for code blocks */
.code-block {
    background-color: var(--darkest);
    font-family: "Kode Mono", courier new, monospace;
    font-size: 85%;
    padding: 10px;
    corner-shape: bevel;
    overflow: hidden;
    border: 3px inset var(--small);
    outline: 3px solid var(--darkest);
    border-radius: 7px;
    text-align: left;
}

/* for code block-like menus (table of contents so far) */
.fake-block {
    background-color: var(--darkest);
    font-family: "Kode Mono", courier new, monospace;
    font-size: 70%;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    border: 3px inset var(--small);
    outline: 2px solid var(--darkest);
    border-radius: 3px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* small text & variations for diff situations */
/* default "small" class is not used currently */
.small {
    font-size: 60%;
    opacity: 0.5;
    padding-left: 5px;
    padding-top: 0px;
    margin-top: -3px;
}

.fake-block.small {
    font-size: 80%;
    border-bottom: solid 1px; 
    margin-bottom: 5px;
}

h1.small {
    font-size: 10pt;
    opacity: 0.5;
    padding-left: 5px;
}

/* subtitles since default small is cursed */
.subtitle {
    font-size: 10pt;
    color: var(--midtone);
    text-shadow: 0px 0px 5px var(--small);
    margin-bottom: 5px;
}

.subtitle:hover {
    font-size: 10pt;
    color: var(--normal);
    text-shadow: 0px 0px 5px var(--midtone);
}

p.section {
    border-top: solid 1px var(--small);
    border-bottom: solid 1px var(--small);
    width: 80%;
    margin: auto;
    padding: 10px;
}


/* General Formatting*/

body {
    background-color: var(--bg);
    color: var(--lightest);
    text-shadow: 0px 0px 7px var(--small);
    font-family: "Scope One", courier new, serif;
    text-align: center;
}

p {
    color: var(--normal);
    text-shadow: 0px 0px 3px var(--small);
    font-family: "Scope One", courier new, monospace;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Copse", courier new, monospace;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--small);
    margin-left: 5%;
    margin-right: 5%;
}


/* Images */
/* intended for the portfolio */
.box-thin {
    border: double 2px var(--small);
    border-left: solid var(--small);
    border-radius: 7px;
    corner-shape: bevel;
    max-width: 460px;
    margin: auto;
    background-color: rgb(from var(--small) r g b / 10%);
}

.box-thin > p {
    margin: 20px;
}

.box-thin > h2 {
    padding-bottom: 10px;
}

.box-fit {
    border: double 2px var(--small);
    border-left: solid var(--small);
    border-radius: 7px;
    corner-shape: bevel;
    width: 75%;
    margin: auto;
    background-color: rgb(from var(--small) r g b / 10%);
}

/* icons. currently there is only one */
.img-icon {
    width: 20px;
    height: 20px;
    padding: 5px;
}

/* icons. these are bigger and strictly blue */
.img-nav {
    margin-top: -9px;
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
    filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(656%) hue-rotate(171deg) brightness(99%) contrast(89%);
}


/* "gallery" images */
/* also used within "image-section" classes */
.img-gallery {
    max-width: 400px;
    border: double;
    border-left: solid;
    border-color: var(--normal);
    corner-shape: bevel;
    border-radius: 5px;
}

.img-borderless {
    max-width: 400px;
    border: none;
    border-bottom: double;
    border-color: var(--normal);
    corner-shape: bevel;
    border-radius: 5px;
}

.flex {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.img-set {
    max-width:90%;
    flex: 1;
    border: double;
    border-left: solid;
    border-color: var(--normal);
    corner-shape: bevel;
    border-radius: 5px;
}

/* The cursed */
.img-scroll {
    border-top: solid 1px var(--small);
    border-bottom: solid 1px var(--small);
    margin-top: 20px;
    max-width: 460px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#first-series {
    margin-top: -10px;
}

.img-scroll > div {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    padding-bottom: 0px;
}

.img-scroll > div > img {
    width: 100%;
}

.img-scroll::-webkit-scrollbar{
    display: none;
}

/* banner images. these mainly just resize. copied from Artfight */
.banner {
    margin: auto;
    max-width: 70%;
    max-height: 100vh;
    filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(656%) hue-rotate(171deg) brightness(99%) contrast(89%);
}

/* literally just a filter to blueify things */
/* matches to var(--normal) */
.make-blue {
    filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(656%) hue-rotate(171deg) brightness(99%) contrast(89%);
}

/* Styling the external container wrapper */
/* Container to handle spacing and alignment */
.video-wrapper {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; /* Centers the subtitles under the video */
}

/* The fixed iframe styling */
.embed-gallery {
    width: 100%;
    aspect-ratio: 16 / 9; /* Automatically calculates correct height based on width */
    border: double;
    border-left: solid;
    border-color: var(--normal);
    corner-shape: bevel;
    border-radius: 5px;
    display: block; /* Removes unwanted baseline spacing */
}



/* Links */

a {
    color: var(--lightest);
    text-shadow: 0px 0px 5px var(--midtone);
    text-decoration: none;
}

a:hover {
    color: var(--lightest);
    text-shadow: 0px 0px 5px var(--lightest);
    text-decoration: none;
}


/* ID-specific Formatting */
/* special styling for the 404 title */
#notfound {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom:solid 1px var(--midtone);
    max-width: 150px;
}

/* special styling for pfp icons. "copies" carrd. */
#pfp {
    border-radius: 50%;
    height: 100px;
    transform: scale(1.5); 
    margin: 10px;
    margin-top: 20px;
    border: inset 1px;
    border-color: var(--normal);
}

/* special styling for navigation */
#main {
    z-index: 0;
}

#sticky-nav {
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,0);
    z-index: 1000;
    height: 10px;
    padding: 10px;
}

#nav-left {
    float: left;
    margin-top: calc(-5px + var(--topbar-y));
    margin-bottom: 0;
    margin-left: 5vw;
    max-width: 45%;
}

#nav-right {
    float: right;
    margin-top: calc(-5px + var(--topbar-y));
    margin-bottom: 0;
    margin-right: 5vw;
    max-width: 45%;
}

/* Resize Stuff */

@media only screen and (max-width: 600px) {
    .banner {
        max-width: 100%;
        max-height: 100vh;
    }

    .img-gallery {
        width: 95%;
    }

    .embed-gallery {
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    #sticky-nav {
        background-color: rgb(from var(--darkest) r g b / 60%);
        padding-bottom: 23px;
        border-bottom: double 3px var(--normal);
        border-top: solid 1px var(--small);
        outline: solid 20px rgb(from var(--darkest) r g b / 60%);
        clip-path: inset(-20px -20px 0px -20px);
    }

    .box-fit {
        width: 95%;
    }
}